---
services:
  - title: Fullstack application development
    desc: "Build for scale. Build at lightning speed. Build at your budget. Best Fullstack, Native, iOS, Android, ML, blockchain, scalability and security experts helping some of the biggest and smallest brands in the business."
    color: ae81ff
  - title: Growth Strategy & Execution
    desc: "Build for your user. Find your niche. Innovate your niche. Hypothesize, find gaps and justify your competitive advantage. Test and explore growth as you've never experienced it."
    color: f92672
  - title: ML, AI, Data Science & Analytics
    desc: "We use data-driven neural networks, supervised and unsupervised learning techniques to justify intentions."
    color: a6e22e
  - title: Due Diligence
    desc: "Business, Financial, Technical, Market, IP and Security diligence."
    color: 66d9ef
  - title: Business Analysis & Modeling
    desc: "Understand your business better than your competitors. Look for complementary partners. Find the gap and nail it with a data driver."
    color: ae81ff
  - title: Technology Audit & Cleanup
    desc: "Own your investment. Know your infrastructure, understand your product value, protect it against risks. Ensure best I.T. practices are being followed."
    color: e6db74
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About us.</h2>
				<p>{{ site.description }}</p>
			</div>
		</section>
		<section class="services">
			<div class="container">
				<h2>Our Services.</h2>
				<ul class="services-list">
					{% for item in page.services %}
						<li>
							<div class="service-box">
								<div style="background-color: #{{item.color}}; padding:3rem;">
									<h1>{{ item.title }}</h1>
									<br/><br/>
									<div class="img-wrapper">
										<p>{{ item.desc }}</p>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>		
		<br/>
		<section class="intro">
			<div class="container">
				<h2>What we do.</h2>
				<p>Growth, technology and business experts who specialize in helping startups and companies improve their valuation.</p>
			</div>
		</section>
		<section class="people">
			<div class="container">
				<h2>Our People.</h2>
				<ul class="people-list">
					{% for item in site.categories.people %}
						<li>
							<a href="{{ item.person.url }}">
								<style>#{{ item.person.id }}:before { content: "{{ item.person.desc }}";}</style>
								<div class="img-wrapper" id="{{ item.person.id }}">
									<img src="{{ item.person.img | prepend: site.baseurl }}" alt="{{ item.person.title }}" />
								</div>
								<span class="h2">{{ item.person.type }}</span>
								<h3>{{ item.person.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<br/>
		<section class="intro">
			<div class="container">
				<h2>Contact an AI, cryptocurrency, blockchain and growth expert.</h2>
				<p>Ask us about how we've helped Uber, Tumblr, and other billion dollar Fintech startups improve their valuation.</p>
			</div>
		</section>		
		<section class="projects">
			<div class="container">
				<h2>Projects we recently worked on.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>